.content-wrapper {
  width: 594px;
  height: 420px;
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.backG {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.nameInput {
  position: absolute;
  text-align: center;
  left: 160px;
  font-family: "Roboto Condensed", sans-serif;
  top: 200px;
  font-size: 25.6px;
}
.evaluateInput {
  position: absolute;
  text-align: center;
  left: 136px;
  font-weight: normal;
  font-style: italic;
  top: 240px;
  font-size: 16px;
}
.dateInput {
  position: absolute;
  text-align: center;
  left: 334px;
  bottom: 72px;
  font-size: 16px;
}
